<h1>Lista de Alumnos</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Email</th>
        <th scope="col">DNI</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let user of listUser">
        <td> {{ user.Name }}</td>
        <td>{{ user.Surname }}</td>
        <td>{{ user.Email}}</td>
        <td>{{ user.DNI }}</td>
        <td><button type="button"  (click)="onSelect(user)" class="btn btn-outline-secondary">Editar</button></td>
        <td><button type="button" class="btn btn-outline-secondary">Eliminar</button></td>
      </tr>
     </tbody>
  </table>
 
  
