<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, world!</title>
  </head>
  <body>

<h1>Detalle Alumno</h1>
<form *ngIf="user">
    <div class="form-group">
      <label for="exampleInputNombre">Nombre</label>
      <input  type="text" [(ngModel)] = "user.Name" name="name"  class="form-control"   aria-describedby="nombreHelp">
    </div>
    <div class="form-group">
      <label for="exampleInputApellido">Apellido</label>
      <input  type="text" [(ngModel)] = "user.Surname" name="surname" class="form-control"   aria-describedby="surnameHelp" >
    </div>
    <div class="form-group">
        <label for="exampleInputDNI">DNI</label>
        <input  type="number" [(ngModel)] = "user.DNI" name="dni" class="form-control"  aria-describedby="dniHelp" >
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Nivel</label>
        <select class="form-control" id="DropDownNivel">
           <option *ngFor="let level of listLevel">{{ level.Description }}</option>
        </select>
      </div>
     <p></p>
     <div class="form-group">
      <label for="exampleFormControlSelect2">Categoria</label>
      <select class="form-control" id="DropDownCategoria">
        <option  *ngFor="let category of listCategory">{{category.Description}}</option>
      </select>
    </div>
      <p></p>
     <div class="form-group">
          <label for="exampleFormControlSelect3">Valor</label>
          <select class="form-control" id="DropDownValor">
            <option  *ngFor="let cost of listCost">{{cost.Description}}</option>
          </select>
        </div>
      <p></p>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Lunes</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">Martes</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
        <label class="form-check-label" for="inlineCheckbox3">Miercoles</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
        <label class="form-check-label" for="inlineCheckbox1">Jueves</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
        <label class="form-check-label" for="inlineCheckbox2">Viernes</label>
      </div>
      <div class="form-check">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
  <label class="form-check-label" for="inlineCheckbox1">Sabado</label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option7">
  <label class="form-check-label" for="inlineCheckbox2">Domingo</label>
</div>
<p></p>
      <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
  </body>
</html>

