<h1>Alumno</h1>
<form>
    <div class="form-group">
      <label for="exampleInputNombre">Nombre</label>
      <input type="nombre" [(ngModel)]="name"  class="form-control"  name="name" aria-describedby="nombreHelp">
    </div>
    <div class="form-group">
      <label for="exampleInputApellido">Apellido</label>
      <input type="apellido"  [(ngModel)]="surname" name="surname" class="form-control" id="exampleInputApellido">
    </div>
    <div class="form-group">
        <label for="exampleInputDNI">DNI</label>
        <input type="dni"  name="dni"  [(ngModel)]="dni" class="form-control" id="exampleInputDNI">
      </div>
      <label for="exampleInputFecha">Fecha</label>
                <div class='input-group date' id='datetimepicker1'>
                    <input type='date'    id="dateFrom"   name="birthday"  [(ngModel)]="birthday"    class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
    <div class="form-group">
        <label for="exampleInputMail">Mail</label>
        <input type="mail" name="email"  [(ngModel)]="email"  class="form-control" id="exampleInputMail">
      </div>
      <div class="form-group">
        <label for="exampleInputObraSocial">Obra Social</label>
        <input type="obrasocial"  name="socialwork"  [(ngModel)]="socialwork" class="form-control" id="exampleInputObraSocial">
      </div>
      <label for="exampleInputCertMedico">Certificado Medico</label>
   <div class="custom-file">
     <input type="file" name="medicalcertificate"   [(ngModel)]="medicalcertificate" class="custom-file-input" id="customFileLang" lang="es">
     <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
    </div>
     <div class="form-group">
        <label for="exampleInputNroSocio">Nro Socio</label>
        <input type="nrosocio"  name="nropartner"   [(ngModel)]="nropartner" class="form-control" id="exampleInputNroSocio">
      </div>
    <div *ngIf="isChild">
      <h1>Contacto</h1>
     <div class="form-group">
        <label for="exampleInputNombreContacto">Nombre</label>
        <input type="nombrecontacto" [(ngModel)]="namecontacto"  class="form-control"  name="namecontacto" aria-describedby="nombrecontactoHelp">
      </div>
      <div class="form-group">
        <label for="exampleInputApellido">Apellido</label>
        <input type="apellidocontacto"  [(ngModel)]="surnamecontacto" name="surnamecontacto" class="form-control" id="exampleInputApellidoContacto">
      </div>
      <div class="form-group">
          <label for="exampleInputDNI">DNI</label>
          <input type="dnicontacto"  name="dnicontacto"  [(ngModel)]="dnicontacto" class="form-control" id="exampleInputDNIContacto">
        </div>
                  
      <div class="form-group">
          <label for="exampleInputMailContacto">Mail</label>
          <input type="mailcontacto" name="emailcontacto"  [(ngModel)]="emailcontacto"  class="form-control" id="exampleInputMailContacto">
        </div>
     </div>
   <button type="submit" (click)="guardar()" class="btn btn-primary">Registrar</button>
  </form>
  <h1>{{ mensaje }}</h1>